@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    --background: #850000;
    --text: #FFF6c3;
    --box: #DC0000;
    --shadow: rgba(255, 255, 255, 0.9);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow: hidden;
    margin: 0;
}

h1, p {
    text-align: center;
    margin: 0;
}



h1 {
    padding: 20px 20px 0;
    text-transform: uppercase;
}

p {
    color: var(--text);
    padding: 15px;
    font-style: italic;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5; 
    margin: 5px;
    position: relative;
    box-shadow: inset 0 0 0 500px var(--shadow);
    transition: flex 0.7s, box-shadow 0.7s;
    transition-timing-function: ease-in-out;

}

.panel h2 {
    color: var(--box);
    display: inline;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    padding: 5px;
}


.panel h3 {
    background-color: var(--box);
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    opacity: 0;
    padding: 5px;
}

.panel.active {
    flex: 5;
    box-shadow: none;
}

.panel.active h2 {
    opacity: 0;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

@media(max-width: 480px){

    h1 {
        font-size: 22px;
        padding: 10px 10px 0;
    }

    p {
        padding: 5px;
    }

    .container {
        width: 100vw;
        height: 95vw;
        flex-direction: column;
        flex: 1;
    }

    .panel h2 {
        color: var(--box);
        display: inline;
        position: absolute;
        bottom: -30px;
        left: 2%;
    }
    

    .panel {

        height: 100vh;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        flex: 0.2; 
        margin: 4px;
        position: relative;
    }

    .panel.active {
        flex: 5;
    }

    /* .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    } */

}